# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.idb
*.tlog
*.iobj
*.ipdb
*.exe
*.iobj
!model/*

# Build results
[Dd]ebugPublic/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
build/

# Visual Studio Code
.vs/